PORT=8080
FRONTEND_URL=http://localhost:5173

# DATABASE (Postgres)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=123456
DB_NAME=mydb

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=

# COOKIE
COOKIE_SECURE=false